modules = ["python-3.11", "nodejs-20", "bash"]
run = "run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "run"]

[workflows]
runButton = "Python Direct"

[[workflows.workflow]]
name = "Python Direct"
author = 22610308
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python examples/simple.py"
